! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


Xft.dpi: 144 
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

xterm.termName: xterm-256color
xterm*saveLines: 4096
xterm*locale: true
xterm*loginShell: true
xterm*internalBorder: 17
xterm*faceName: xft:Hack Nerd Font
xterm*faceSize: 11
xterm*renderFont: true
xterm*cursorBlink: false
xterm*ScrollBar: false
xterm.vt100.locale: true
xterm.vt100.metaSendsEscape: true
xterm.vt100.backarrowKey: false
xterm.ttyModes: erase ^?
xterm.vt100.geometry: 80x32
