! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------
! special
*background: #1E1E2E
*foreground: #CDD6F4

! black
*color0: #45475A
*color8: #585B70

! red
*color1: #F38BA8
*color9: #F38BA8

! green
*color2: #A6E3A1
*color10: #A6E3A1

! yellow
*color3: #F9E2AF
*color11: #F9E2AF

! blue
*color4: #89B4FA
*color12: #89B4FA

! magenta
*color5: #F5C2E7
*color13: #F5C2E7

! cyan
*color6: #94E2D5
*color14: #94E2D5

! white
*color7: #BAC2DE
*color15: #A6ADC8

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

! Xterm
! =====

! Basic settings
xterm*termName: xterm-256color
xterm*locale: true
xterm*utf8: 1
xterm*utf8Fonts: always
xterm*dynamicColors: true

! UI components
xterm*toolBar: false
xterm*scrollBar: false
xterm*geometry: 80x24
xterm*InternalBorder: 0

! Cursor
! Allowing the cursor to use the reverse colour of the background or
! foreground avoids circumstances, such as in Vim, where the cursor can
! be virtually impossible to see.  Note that this does not work when the
! cursor is not a block character (cursorUnderLine: true).
xterm*cursorColor: reverse
xterm*cursorBlink: true
xterm*cursorOffTime: 300
xterm*cursorOnTime: 800
xterm*cursorUnderLine: false
xterm*pointerShape: XTerm

! Bell
xterm*bellIsUrgent: false
xterm*bellSupressTime: 100
xterm*marginBell: false
xterm*visualBell: false

! Text highlighting
xterm*highlightColor: XtDefaultForeground
xterm*highlightReverse: true
xterm*highlightSelection: true
xterm*highlightTextColor: XtDefaultBackground

! Font settings
!
! The font settings address the issue discussed in this blog post:
! https://protesilaos.com/codelog/2019-05-26-xterm-letter-pi-bug/
!
! Alternatively, just use Fira Code (apt install fonts-firacode) at any
! integer size.  The font stack (comma separated) ensures that the next
! font will be used if the one before is not available.  "Monospace" is
! a fontconfig alias that ultimately points to "DejaVu Sans Mono" (see
! my dotfiles fontconfig).
xterm*faceName: FiraCode Nerd Font:size=14,Monospace
xterm*faceSize: 9.5
xterm*renderFont: true
xterm*boldColors: false
xterm*faceSize1: 8
xterm*faceSize2: 12
xterm*faceSize3: 15
xterm*faceSize4: 18.25
xterm*faceSize5: 20.5
xterm*faceSize6: 25.5
xterm*forceBoxChars: false
xterm*limitFontsets: 5
xterm*scaleHeight: 1.0

! Scroll and output
xterm*jumpScroll: true
xterm*multiScroll: true
xterm*saveLines: 9999
xterm*scrollKey: true
xterm*scrollTtyKeypress: true
xterm*scrollTtyOutput: false

! Backspace behaviour
xterm*backarrowKey: false
xterm*metaSendsEscape: true
xterm*ttyModes: erase ^?


! Key bindings.  Use C-S-{c,v} to copy/paste as in GNOME terminal.  The
! keys "Prior" and "Next" represent PgUp and PgDown respectively.
xterm*selectToClipboard: true
xterm*translations: #override \n\
	Ctrl Shift <KeyPress>C: select-end(SELECT, CLIPBOARD) \n\
	Ctrl Shift <KeyPress>V: insert-selection(SELECT, CLIPBOARD) \n\
	Ctrl Shift <KeyPress>Next: smaller-vt-font() \n\
	Ctrl Shift <KeyPress>Prior: larger-vt-font() \n\
	Ctrl Shift <KeyPress>Home: set-vt-font(d)
