@define-color base      #161616;
@define-color surface0  #262626;
@define-color surface1  #393939;
@define-color surface2  #525252;
@define-color white0    #dde1e6;
@define-color accent    #ff7eb6;

window {

  /* border: 2px solid red; */
  background-color: #1e222a;
  padding: 50px;
}

#input {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin: 20px 15px;
}

#input:focus,
#input:selected,
#entry:selected,
#entry:focus {
  border-color: transparent;
}

#inner-box {
  margin: 20px;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 20px;
  color: white;
}

#text:selected,
#img:selected {
  background-color: transparent;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.1);
}
